@charset "utf-8";
/* 中间 开始*/
.center_wrap{margin-top: 20px;padding-bottom:20px;}
.dredgeId_top .mySy{font-weight: normal;width:90px;border-bottom:2px solid #ff7300;text-align: center;font-size: 16px;display: block;}

.panel{width: 930px;height: auto;overflow: hidden;border: 1px solid #e1e1e1;margin-top: 10px;padding:10px 30px;}

.center_bankCardTop{border-bottom:1px dashed #e2e2e2;}
.center_bankCardWrap{text-align: center;width: 127px;height: 200px;margin-left: 50px;}
.bankCardPrint{background: url("../img2.0/bankPtint.png") 10px 0 no-repeat;height: 100px;}
.bankCardimg{background: url("../img2.0/bankcard.png") 10px 0 no-repeat;}
.center_jointyue{display: none;}
.yueimg{background: url("../img2.0/bankyue.png") 10px 0 no-repeat;}
.bankCardEarnings{font-size: 15px;}
.bankCardEarnings p{font-size: 28px;color:#ff7300;margin-top: 10px;}
.bankJoint{background: url("../img2.0/joint.png") 25px 45px no-repeat;margin:0 40px;}
.bankCardMark p{font-size: 17px;color:#666;}
.yueMark p{color: #999;}
.center_BankTab{padding:20px 0;}

.tabDiv{width:800px;height:200px;border-top:1px solid #ccc;display:none;margin-top: -1px;padding: 30px 65px 0;}
.tab{margin:0;padding:0;list-style:none;overflow:hidden;margin-left: 20px;}
.tab li{float:left;height:30px; text-align:center;line-height:30px;cursor:pointer;padding:0 15px; }
.on{display:block;}
.tab li.cur{border:1px solid #e2e2e2;background: #fff;border-bottom:none;}
/*.jointBankWrap{background: url("../img2.0/bankImg.png")no-repeat;}*/
.jointBank{margin-left: 65px;font-size: 14px;}
.jointBank p{color:#999;}
.jointMoney{margin-top: 20px;}
.jointMoney input{border:1px solid #e2e2e2;width: 390px;height: 35px;margin-left: 20px;padding-left: 20px;}
.jointMoney .moneyZ{color: #999;}
.jointMoneyT{background: url("../img2.0/ts.png")no-repeat;margin: 10px 70px;}
.jointMoneyT span{margin-left: 30px;}
.jointMoney button{background: #ff7300;color: #fff;width: 225px;height: 40px;font-size: 16px;}
