@charset "utf-8";
body{margin:0;padding:0;font-size:12px;line-height:22px;font-family:Microsoft YaHei,YaHei,tahoma,arial,"Hiragino Sans GB";}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p{margin:0;padding:0;}
input,select,textarea{font-size:12px;line-height:16px;}img{border:0;}ul,li{list-style-type:none;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#353535;text-decoration:none;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.dis{display:block;}.undis{display:none;}
.fl{float:left;}.fr{float:right;}.cl{clear:both;}.fb{font-weight:bold;}.fnb{font-weight:200;margin-left:-1px;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:none;}
.w100{ width:100%; height:auto; overflow:hidden;}
.w1000{ width:1200px; height:auto;  margin:0 auto;}
.mt{margin-top:10px;}
input,button {outline:none;border: 0;background: #fff;}
button{cursor: pointer;}
button{border: 0;}
.clearFix:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}
img{display: block;}.mt10{margin-top: 10px;}.mt25{margin-top: 25px;}.pr10{padding-right: 20px;}
i{font-style: normal;color:#ff7300;font-weight: normal;}
/* END reset */

/* 头部分 */
.header_wrap{background: #f5f5f5;}
.header_top_left{height: 32px;line-height: 33px;}
.header_top_left ul li a{color: #777;}
.header_top_left ul li{float: left;margin-right: 30px;color: #777;font-size: 12px;}
.home_img{background:url("../img2.0/home_img.png")no-repeat scroll 0 9px;}
.header_top_right{height: 32px;line-height: 33px;}
.header_top_right ul li{padding-left: 30px;float: left;}
.header_top_right ul li a{color: #777;}
.home_print{margin-left: 20px;}

/* 头部第二部分 开始*/
.headerBottom_wrap{background: #ff7300;padding: 7px 0;}
.header_bottom img{width: 141px;height: 50px;}
.header_bottom span{font-size: 18px;padding: 14px 0 0 20px;color: #f5f5f5;}
.header_bottom a{margin-left: 20px;color: #fff;font-size: 16px;}
.header_search{margin-top: 13px;background: #fff;padding-left: 0px;}
.header_search input{width: 260px;height: 27px;}
.header_search button{width:69px;height: 28px;background: #f5f5f5;color: #999;border-left: 1px solid #e2e2e2;}
/* 头部第二部分 结束*/
/* 头部分 结束 */


/* 左边导航栏 开始*/
.center_wrapLeft{background: #f3f3f3;width: 188px;padding:25px 0;}

/* 进货车被选中的状态 */
.stock_cart{background: url("../img2.0/stock_cartMain.png") 10px 0 no-repeat;}
.stock_cart a{font-size: 16px;color:#ff7300;margin-left: 45px;}
/* 进货车未选中的状态 */
.stock_uncart{background: url("../img2.0/stock_uncartMain.png") 10px 0 no-repeat;}
.stock_uncart a{font-size: 16px;color:#333;margin-left: 45px;}

/* 订单管理 */
.order_manageWrap{margin-bottom: 40px;}
.order_manage{background: url("../img2.0/order_manage.png") 9px 0 no-repeat;}
.order_manageWrap ul li{font-family: "宋体";}
.order_manage span{font-size: 16px;color:#333;margin-left: 45px;}
.order_manageClassify i{ background: url("../img/rightjt.png") 0px 10px no-repeat;width: 8px;height: 31px;display: block;}
.center_wrapLeft ul .order_manageClassify{margin-top: 5px;height: 32px;line-height: 32px;}

/* 导航 被选中的状态 背景为灰色 */
.order_manageClassify a{display: block;padding: 0 15px 0 45px;background: #dcdada;}
/* 导航 未选中的状态 没有背景色 */
.join_manageClassify a{background: none;}

/* 加盟管理 */
.join_manage{background: url("../img2.0/join_manage.png") 9px 0 no-repeat;}

/* 财务中心 */
.property_manage{background: url("../img2.0/property_manage.png") 9px 0 no-repeat;}
/* 账号管理 */
.account_manage{background: url("../img2.0/account_manage.png") 9px 0 no-repeat;}
/* 左边导航栏 结束*/


/* 底部 开始 */
.bottom_box{background: #fafafa;padding-bottom: 30px;margin-top: 32px;}
.bottom_foot_box{margin-top: 43px;}
.bottom_foot_box ul{width: 472px;margin: 0 auto;}
.bottom_foot_box ul li{border-right: 1px solid #999;float: left;padding: 0 12px;height: 13px;line-height: 13px;}
.bottom_foot_box ul li a{color: #666;}
.bottom_foot_box ul li:last-child{border-right:0px;}
.bottom_section_last{text-align: center;margin-top: 8px;}
.bottom_section_last p{color:#999;margin-bottom: 2px;}
/* 底部 结束 */