@charset "utf-8";
body{margin:0;padding:0;font-size:12px;line-height:22px;font-family:Microsoft YaHei,YaHei,tahoma,arial,"Hiragino Sans GB";background: #f5f5f5;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p{margin:0;padding:0;}
input,select,textarea{font-size:12px;line-height:16px;}img{border:0;}ul,li{list-style-type:none;}
a{color:#353535;text-decoration:none;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.dis{display:block;}.undis{display:none;}
.fl{float:left;}.fr{float:right;}.cl{clear:both;}.fb{font-weight:bold;}.fnb{font-weight:200;margin-left:-1px;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:none;}
.w100{ width:100%; height:auto; overflow:hidden;}
.w1000{ width:1200px; height:auto; overflow:hidden; margin:0 auto;}
.mt{margin-top:10px;}
.clearFix:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}
em{font-style: normal;}
/* 头部 开始*/
.header_topNav {padding:3px 0;}
.header_topNav ul li{float: left;}
.header_topNav ul li a{color: #666;}

.header_topNav_right ul .kehu{background-position: 68px -798px;}

.header_zhongBoxWrap{background: #fff;}

.header_logo{padding: 25px 0 20px;}
.header_logo .header_logo_right{margin:20px 0 0 15px; }

.header_right_logo{padding: 30px 0 25px;float:right; position: absolute;z-index: 1;top: 5%;right: 8%;}
.header_right_logo div{color: #666;}
.header_right_logo div .span_one{margin-left: -13px;}
.header_right_logo div .span_two{margin-left: 83px;}
.header_right_logo div .span_three{margin-left: 98px;}
.header_right_logo div .span_four{margin-left: 100px;}

/* 头部 结束*/
/**商品的信息.s**/
.goods_infos{margin-top: 15px;}
.goods_header{border:1px solid #e2e2e2;}
.goods_infos ul .goods_header div{margin-top: 3px;}
.goods_infos .goods_header{padding: 5px 25px;}
.goods_infos input,.goods_infos span{vertical-align: middle;}
.item_select span{margin-left: 5px;}
.item_pro{margin-left: 232px;}
.item_pric{margin-left: 315px;}
.item_num{margin-left: 146px;}
.item_rental{margin-left: 142px;}
.item_retail{margin-left: 110px;}
.goods_wrap{border:1px solid #e2e2e2;padding: 20px 25px;margin-top: 10px;background: #fff;}
.goods_checkbox{width:12px;height: 74px;line-height: 74px;}
.goods_print img{width: 74px;height: 74px;margin-left: 10px;}
.goods_msNorms{margin-left: 15px;width: 455px;}
.goods_msNorms span{font-size: 12px;display: block;}
.goods_msNorms i{font-style: normal;color: #666;}
.goods_pric{margin-left: 22px;margin-top: 32px;color:#e31939;}
.goods_pric .pricBig{font-size: 17px;}
.item_number{padding-left: 65px;width: 151px;margin-top: 27px;}
.item_number span{width:39px;height: 32px;background: #f1f1f1;display:block ;text-align: center;line-height: 32px;margin: 0 auto;}
.item_number .prev{border-radius: 5px 0 0 5px;border:1px solid #ddd;border-right: none;cursor: pointer;font-size: 19px;color: #666;}
.item_number .next{border-radius: 0 5px 5px 0;border:1px solid #ddd;border-left: none;cursor: pointer;font-size: 19px;color: #666;}
.item_number input{border:1px solid #ddd;width: 29px;height: 32px;padding-left: 20px;line-height: 32px;font-size: 19px;color: #666;}
.goods_lsj{font-size: 13px;}
.goods_gross{margin-left: 50px;}
.item_del{margin-top: 32px;margin-left: 110px;}

.aggregate_wrap{border:1px solid #e2e2e2;padding: 15px 25px;background: #fff;border-top:0;}
.aggregate_wrapLeft{height: 40px;line-height: 40px;}
.aggregate_wrapLeft a{border:1px solid #e2e2e2;width: 133px;height: 38px;font-size: 15px;color: #666;background: #fafafa;text-align: center;line-height: 38px;}
.clear_cart{margin-left: 20px;color: #999;}
.aggregate_wrapRight {font-size: 20px;}
.aggregate_wrapRight span{color:#e31939;}
.aggregate_wrapRight .myf{font-size: 12px;color: #666;}
.aggregate_wrapRight button{background: #e31939;width: 133px;height: 38px;color: #fff;font-size: 15px;margin-left: 5px;border:1px solid #e31939;}
/* 商品分页 开始 */
.center_pageWrap{margin-top:40px;margin-bottom: 70px;}
.center_pageBox{margin-left: 564px;overflow: hidden;}
.center_pageBox ul li{float: left;background: #fff;}
.center_pageBox ul li a{font-size: 14px;}
.page_prev{border:1px solid #e2e2e2;width: 75px;height: 30px;line-height: 30px;text-align: center;}

/* 上一页 两种状态 灰色*/
.pageprev_img .unicon{background-position: -158px -422px;}
.pageprev_unprint{vertical-align: middle;display: table-cell;display: block;color: #999;}
/* 上一页 两种状态 可以点击*/
.pageprev_img .icon{background-position: -126px -422px;}
.pageprev_print{vertical-align: middle;display: table-cell;display: block;color: #333;}

/* 下一页 两种状态 可以点击*/
.pagenext_img .icon{background-position: -174px -422px;}
.pageprev_next {color:#333;}
/* 下一页 两种状态 灰色*/
.pagenext_img .unicon{background-position: -206px -422px;}
.pageprev_unnext {color:#999;}
.page_numer a{height: 30px;line-height: 30px;width: 35px;border:1px solid #e2e2e2;margin-left: -1px;display: block;text-align: center;}
.itme{margin-left: 10px;}
.center_pageBox .dot{width: 35px;height: 30px;text-align: center;line-height: 40px;background: none;}
.total,.text{margin-left: 10px; line-height: 37px; color: #999;}
.m-page .input{border: 1px solid #ededed;height: 21px;text-align: center;width: 35px;}
.input{border: 1px solid #ededed;height: 21px;text-align: center;width: 35px;}
.btn, .input{margin-top: 7px;} .input, .text, .total{color: #999;}
.btn, .input, .text{margin-left: 5px;}
.btn{background-clip: padding-box;border: 1px solid #ededed;border-radius: 2px;cursor: pointer;height: 21px;line-height: 21px;text-align: center;width: 43px;display: block;background: #fff;}
.center_pageBox .page_numer a:hover{background: #e31939 none repeat scroll 0 0; border-color: #e31939; color: #fff; cursor: pointer; position: relative; text-decoration: none; z-index: 1;}
.center_pageBox .itme a{background: #e31939 none repeat scroll 0 0; border-color: #e31939; color: #fff; cursor: pointer; position: relative; text-decoration: none; z-index: 1;}
/* 商品分页 结束 */
.center_bottomRight{border:1px solid #e2e2e2;background: #fff;margin-bottom:120px;}
.center_bottomRight .goodsTj{display:inline-block;font-size: 15px;height: 18px;line-height: 18px;margin: 10px 15px;color:#e31939;}
.bg{background: #f1f1f1;}
.center_bottomRight ul {padding:40px 35px 20px;}
.center_bottomRight .checkGd{padding-top: 9px;font-family: "宋体";margin-right: 20px;}
.center_bottomRight ul li{float: left;margin-right: 62px;}
.center_bottomRight ul li:last-child{margin-right: 0;}
.center_bottomRight ul li a{display: inline-block;width: 175px;height: 275px;text-align: center;}
.centerHome_goodsPrint img{width: 170px;height: 175px;}
.centerHome_goodsMs{text-align: left;width: 173px;height:42px;overflow: hidden;font-size: 13px;}
.centerHome_goodsprice span{color:#e9394e;font-size: 15px;}
.shouye-input input:FOCUS{box-shadow:0 0 5px 2px #D5E9F9;outline:0; border-color:#D5E9F9; background:#fff;}
.shouye-input textarea:FOCUS{box-shadow:0 0 5px 2px #D5E9F9;outline:0; border-color:#D5E9F9; background:#fff;}
/**商品的信息.e**/
.bottom_box{background: #fff;border-top:1px solid #e2e2e2;padding-bottom: 30px;}
.bottom_foot_box{margin-top: 20px;}
.bottom_foot_box ul{width: 472px;margin: 0 auto;}
.bottom_foot_box ul li{border-right: 1px solid #999;float: left;padding: 0 12px;height: 13px;line-height: 13px;}
.bottom_foot_box ul li a{color: #666;}
.bottom_foot_box ul li:last-child{border-right:0px;}
.bottom_section_last{text-align: center;margin-top: 8px;}
.bottom_section_last p{color:#999;margin-bottom: 2px;}