/* 中间 开始 */
.center_targetWrap{padding: 8px 0;background: url("../img2.0/home.png") 0px 11px no-repeat;}
.center_targetWrap a:first-child{margin-left: 20px;}
.center_targetWrap a:hover{color:#ff7300;text-decoration: underline;}
.center_targetWrap span{-webkit-background: url("../img2.0/targetRint.png") no-repeat;
-moz-background: url("../img2.0/targetRint.png") no-repeat;
-o-background: url("../img2.0/targetRint.png") no-repeat;
-ms-background: url("../img2.0/targetRint.png") no-repeat;
display: inline-block;width: 6px;height: 9px;margin-left: 2px;background-size: 100% 100%;}


.cneterScreen {border:1px solid #e2e2e2;}
.cneterScreenTop{padding:8px 20px 8px;background: #f7f7f7;font-size: 16px;}
.cneterScreenTop span{color:#ff4400;}

.screenBrand{padding: 12px 0px;border-bottom:1px dotted #e2e2e2;}
.screenList{border-bottom: none;}
.Brand{width: 61px;text-align: right;font-size: 13px;color:#666;}
.brandClassify{width: 1075px;}
.brandClassify ul li:hover a{color:#ff5010;transition: 0.3s;}
.brandClassify ul li a{padding:3px 8px;}
.brandClassify ul li{float: left;margin:0 3px;}
.pitchA{background: #ff4400;color:#fff;border-radius: 3px;}
.brandClassify ul li .pitchA:hover{color: #fff;}
.brandClassify em{color: #ccc;}

.goods_button{margin-top: 18px;text-align: center;line-height: 35px;}
.goods_button a{display: block;width: 100px;height: 35px;float: right;font-size: 16px;background:#FAC02E;margin-left: 10px;border-radius: 4px;color: #fff;}
.goods_button .goods_stock {background:#ff7300;}
.goods_boxCenter{margin-top: 20px;}
.goods_boxCenter ul li{padding:30px 20px 20px;border:1px solid #ddd;background:#fff;margin-bottom: 10px;}
.goods_print{border:1px solid #e2e2e2;width: 75px;height: 75px;text-align: center;}
.goods_print img{max-width: 75px; max-height:75px;display: table-cell;vertical-align: middle;}
.goods_msNorms{margin-left: 20px;}
.goods_msNorms i{color:#666;font-style: normal;}
.goods_msNorms span{font-size: 12px;display: block;}
.goods_msNorms .goods_ms{line-height: 12px;}
.numberPric{margin-left: 42px;}
.stockProjectW{margin-top: 8px;}
.stockProjectW span{margin-top: 5px;}
/* 全国优选 红色背景 */
.goods_msWrap .goods_emBack{width: 60px;height: 20px;background: #e31939;border-radius: 10px;margin-left: 5px;text-align: center;line-height: 20px;color: #fff;}
/* 全国优选 橙色背景 */
.goods_msWrap .goods_emBackOrange{background: #ff7700;}
/* 商品分页 开始 */
.center_pageWrap{margin-top: 40px;height: 40px;}
.center_pageBox{overflow: hidden;}
.center_pageBox ul li{float: left;background: #fff;}
.center_pageBox ul li a{font-size: 14px;}
.page_prev{border:1px solid #e2e2e2;width: 75px;height: 30px;line-height: 30px;text-align: center;margin-left: 10px;}
.page_prev span{background: url("../img2.0/TB1Z4WGMpXXXXbyaXXX6sGuHVXX-458-458.png")no-repeat;width: 6px;height: 12px;display: inline-block;vertical-align: middle;}
/* 上一页 两种状态 灰色*/
.pageprev_img .unicon{background-position: -158px -422px;}
.pageprev_unprint{vertical-align: middle;display: table-cell;display: block;color: #999;}
/* 上一页 两种状态 可以点击*/
.pageprev_img .icon{background-position: -126px -422px;}
.pageprev_print{vertical-align: middle;display: table-cell;display: block;color: #333;}

/* 下一页 两种状态 可以点击*/
.pagenext_img .icon{background-position: -174px -422px;}
.pageprev_next {color:#333;}
/* 下一页 两种状态 灰色*/
.pagenext_img .unicon{background-position: -206px -422px;}
.pageprev_unnext {color:#999;}
.page_numer a{height: 30px;line-height: 30px;width: 35px;border:1px solid #e2e2e2;margin-left: -1px;display: block;text-align: center;}
.itme{margin-left: 10px;}
.center_pageBox .dot{width: 35px;height: 30px;text-align: center;line-height: 40px;background: none;}
.pagetext{margin-left: 10px; line-height: 37px; color: #999;}
.m-page .input{border: 1px solid #ededed;height: 21px;text-align: center;width: 35px;}
.input{border: 1px solid #ededed;height: 21px;text-align: center;width: 35px;}
 .input, .pagetext{color: #999;}
.pagebtn{margin-top:8px;}
.pagebtn, .input, .pagetext{margin-left: 5px;}
.pagebtn{background-clip: padding-box;border: 1px solid #ededed;border-radius: 2px;cursor: pointer;height: 21px;line-height: 21px;text-align: center;width: 43px;display: block;background: #fff;}
.center_pageBox .page_numer a:hover{background: #f40 none repeat scroll 0 0; border-color: #f40; color: #fff; cursor: pointer; position: relative; text-decoration: none; z-index: 1;}
.center_pageBox .itme a{background: #f40 none repeat scroll 0 0; border-color: #f40; color: #fff; cursor: pointer; position: relative; text-decoration: none; z-index: 1;}
.center_mergepay button{border:1px solid #e2e2e2;padding:4px 10px;margin-left: 5px;}
.center_mergepay input{margin-top: 2px;}
/* 商品分页 结束 */

