/*  主页轮播开始 */
.swiper-container{width:770px; height: 420px;margin: 0 auto;position: relative;overflow: hidden;backface-visibility: hidden;/* Fix of Webkit flickering */z-index: 1;}
.swiper-wrapper{position: relative;}
.swiper-wrapper a{display: block;}
.swiper-free-mode>.swiper-wrapper{margin: 0 auto;}
.swiper-slide{width:770px; height: 420px;float: left;}
.swiper-slide img{width:770px; height: 420px;display:block;}
.pagination{position: absolute; z-index: 20; bottom: 30px; left: 50%; margin-left: -30px;}
.swiper-pagination-switch{display: inline-block; height: 15px; width: 10px; margin-right: 15px; padding-left: 5px; border-radius: 9px; background: #fff; opacity: 0.8; color: white;/* 轮播图下面的小点数字设置为白色 */ cursor: pointer; text-indent: -9999px;}
.swiper-visible-switch{background: #aaa;}
.swiper-active-switch{background: #ff5010;}
.arrow-left{position: absolute;top: 43%;z-index:100;width: 28px;height: 62px;line-height: 62px;text-align: center;font-size: 22px;font-weight: 400;font-family: "simsun";color: #fff;background: rgba(0,0,0,0.2);}
.arrow-right{position: absolute;right: 1px;top: 46%;margin-top: -15px;z-index:100;width: 28px;height: 62px;line-height: 62px;text-align: center;font-size: 22px;font-weight: 400;font-family: "simsun";color: #fff;background: rgba(0,0,0,0.2);}
/* 主页轮播结束 */
.center_rightTop{padding:0 20px;}
.center_right{height: 420px;width: 240px;background:#fff;overflow: hidden;}
.center_flash{background: #ff5010;height: 32px;line-height: 32px;}
.center_flash span{color: #fff;}.center_flash a{color:#fff;font-family: "simsun";}
.center_notice{padding:10px 20px;}
.center_notice ul li{}
.center_notice a{display: block;}
.center_notice a:hover{color:#c81623;}
.center_rightPrint img{width: 240px;height: 279px;}
.center_rightPrint a{display: inline-block;}
/* 推荐 开始 */
.shangcTj{border:1px solid #e2e2e2;}
.module-title{position: relative;}
.module-title h3{font-size:16px;height:45px;line-height:45px;margin-top: 20px;}
.module-title ul{right:10px;position:absolute;top:10px;}
.module-title li.next{width:60px;height:20px;line-height:20px;}
.module-title li a{display:block;overflow:hidden;width:100%;cursor:pointer;color:#ffffff;background:url(../img2.0/more_ico.jpg) no-repeat right center;color:#999999;}
.shangcTj ul li{float: left;border-right:1px solid #ccc;}
.shangcTj ul li:last-child{border-right:none;}
.shangcTj ul li a{width:199px;display: block;padding-top:35px;}
.recomgoodsPrint{width:160px;height:170px;margin: auto;}
.recomgoodsPrint img{width:160px;height:170px;}
.recomgoodsMs{padding:0 10px;overflow: hidden;height: 20px;margin-top: 20px;}
.recomgoodsPric{text-align: center;color:#999;padding:5px 0;}
.recomgoodsPric span{color: #FD282A;}
.recomgoodsPric i{font-style: normal;font-size: 14px;}
/* 推荐 结束 */
.advertismentW{height: 80px;margin-top: 15px;}
.advertismentW img{height: 80px;width:100%;}
.advertismentW a{display: inline-block;}
.centerHome_electricAppliance{margin-top: 30px;border-bottom:2px solid #333;padding-bottom: 10px;}
.centerHome_electricAppliance span{font-size: 17px;}
.centerHome_classify ul li{float: left;padding:0 10px;height: 15px;line-height: 15px;margin-top: 4px;border-right: 1px solid #e2e2e2;}
.centerHome_classify ul li:hover a{color: #ff5010;transition: 0.3s;}
.centerHome_classify ul li:last-child{border-right: none;padding-right:0;}
.centerHome_classifyGoods{margin-top: 10px;}
.centerHome_classifyLeft{height: 511px;width: 230px;position: relative;border:1px solid #e2e2e2;border-right: 0;}
.centerHome_classifyLeft img{height: 368px;width: 230px;}
.centerHome_classifyzhong{width: 968px;height: 512px;border:1px solid #e2e2e2;border-bottom:none;border-right: 0;}
.centerHome_classifyzhong ul li{float: left;border-bottom:1px solid #e2e2e2;}
.centerHome_classifyzhong ul li:nth-child(4n+4){border-right: none;}
.centerHome_classifyzhong ul li a{position: relative;display:block;width: 241px;height: 240px;text-align: center;padding-top:15px;border-right:1px solid #e2e2e2;}
.centerHome_classifyF{height: 90px;margin-top: 45px;}
.centerHome_classifyF a{margin-left: 20px;text-align: left;display: inline-block;width:50px;height: 20px;overflow: hidden;}
.centerHome_classifyF a:hover{color:#ff5010;transition: 0.3s;}
.centerHome_goodsPrint{height: 158px;}
.centerHome_goodsPrint img{width:158px;height: 158px;}
.centerHome_goodsMs{margin: 10px auto 0;height:45px;overflow: hidden;}
.centerHome_goodsprice{padding:0 40px;text-align: left;}
.centerHome_goodsprice i{color:#FD282A;font-style: normal;}
.centerHomep{color: #FD282A;}
.centerHome_goodsprice .centerHomep i{font-size: 14px;color: #FD282A;}
.goodsMsHover{position: absolute;z-index: 1;bottom:0;width: 202px;background: #ff6933;height: 0;overflow: hidden;padding:0 20px;}
.goodsMsHoverT{width: 200px;padding:0 0px;}
.goodsMsHoverL{margin-top: 8px;}
.goodsMsHoverL span{display: block;color: #fff;}
.goodsMsHoverLT{width:62px;padding-left: 5px;}
.goodsMsHoverR{text-align: left;}
.goodsMsHoverR i{font-size: 14px;font-style: normal;font-weight: bold;}
.centerHome_classifyzhong ul a:hover .goodsMsHover{display: block;}
.goodsMsHoverLT .leftSpan{text-align: left;font-style: normal;margin-left: 23px;}
.goodsMsHoverLT .pifaleft i{font-style: normal;margin-right: 6px;}