@charset "utf-8";
body{margin:0;padding:0;font-size:12px;line-height:22px;font-family:Microsoft YaHei,YaHei,tahoma,arial,"Hiragino Sans GB";}
@media screen and (min-width:1601px) and (max-width:2500px){body{font-family:"Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";}}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p{margin:0;padding:0;}
input,select,textarea{font-size:12px;line-height:16px;}img{border:0;}ul,li{list-style-type:none;}
a{color:#353535;text-decoration:none;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.dis{display:block;}.undis{display:none;}
.fl{float:left;}.fr{float:right;}.cl{clear:both;}.fb{font-weight:bold;}.fnb{font-weight:200;margin-left:-1px;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:none;}
.w100{width:100%; height:auto;}
.w1000{width:1200px; height:auto; margin:0 auto;}
.mt{margin-top:10px;}
input{outline:none;background: #fff;}
button{border:0;outline:none;}
.clearFix:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}
/* 头部 开始 */
.headerTopAd span{position: absolute;z-index: 1;right: 42px;top: 10px;color:#ccc;display: block;height: 10px;width: 14px;}
.headerTopAd{position: relative;}
.headerTopAd{line-height: 0;}
.headerTopAd img{width: 100%;height: 60px;}
.header_topbox{background: #f1f1f1;}
.header_topNav {padding:3px 0;}
.header_topNav ul li{float: left;}
.header_topNav ul li a{color: #666;}
.header_topNav_left ul li{margin-right: 30px;background: url("../img2.0/printmain.png") 65px -795px no-repeat;/*width: 75px;*/}
.header_topNav_right ul li{border-right: 1px solid #e2e2e2;padding: 0 15px;height: 17px;line-height: 17px;margin-top: 3px;}
.header_topNav_right ul li:last-child{border-right: none;}
.header_topNav_right ul .phone{background: url("../img2.0/printmain.png") 14px -774px no-repeat;padding: 0 10px 0 30px;}
.header_topNav_right ul li span{background: url("../img2.0/printmain.png") 5px -798px no-repeat;display: block;float: right;width: 20px;height: 9px;}
.header_topNav_right ul .attention{background: url("../img2.0/printmain.png") 80px -798px no-repeat;padding-right: 25px;}

.header_zhongBig{position: relative;}
.header_logoBox img{width:190px;height: 70px;}
.header_logo{padding: 30px 0 25px;}
.header_search{padding: 0 92px;margin-top: 33px;}
.header_searchInput{border: 2px solid #ff4400;height: 37px;width: 578px;background: #fff;}
.header_searchInput input{margin-left: 10px;height: 37px;width: 460px;border:0;}
.header_searchInput button{vertical-align: middle;display: table-cell;color:#fff;background: #ff4400;font-size: 14px;cursor: pointer;width: 100px;height: 38px;line-height: 37px;font-weight: bold;}
.header_keyword ul li{float: left;margin-top: 12px;height: 13px;line-height: 14px;font-weight: normal;}
.header_keyword ul li:nth-child(2n+2) a{color: #ff4400;}
.header_keyword ul li a{margin-right: 8px;}
.stock_seachprint{background: url("../img2.0/cdb/stock_seach.png") -2px 0 no-repeat; width: 22px; height: 20px; display: inline-block; vertical-align: middle;}

.myStockVehicleW{margin-top: 33px;background: #f9f9f9;border:1px solid #e2e2e2;position: relative;}
.myStockVehicleW a{display: block;width: 140px;height: 40px;text-align: center;line-height: 40px;font-size: 14px;}
.myStockVehicleW .myStockVehicleemT{display: inline-block;height: 17px;width: 20px;vertical-align: middle;}
.myStockVehicleW .myStockVehicleem{background:url("../img2.0/cart.png") 0px 0px no-repeat;}
.myStockVehicleW i{background:url("../img2.0/targetRint.png") 13px 3px no-repeat;background-size: 5px 10px;}

.myStockVehicleY{width: 18px;height: 18px;position: absolute;z-index: 1;text-align: center;line-height: 18px;border-radius: 9px;top: -5px;right: 25px;background: #c81623;color: #fff;}
.header_bottom_left a{background: #fd282a;width: 170px;height: 40px;display: block;line-height: 40px;font-size: 18px;color:#fff;padding-left: 20px;}
.header_bottom_right ul li{float: left;height: 40px;line-height: 40px;padding:0 20px;}
.header_bottom_right ul li:last-child{margin-right: 0px;}
.header_bottom_right ul a{font-size: 15px;color: #555;font-family: "simsun";}
.header_bottom_right ul a:hover{color:#ff5010;}
.header_bottom_right{margin-left: 10px;overflow: hidden;}
.stockNew{position: relative;}
.stockNew i{display: inline-block;width: 14px;height: 14px;background: url("../img2.0/cdb/nearNewPrint.jpg") no-repeat;z-index: 1;position: absolute;top:6px;right: 4px;}
.headerHr{border-top:1px solid #ff3f08;}
/* 头部 结束 */
.centerNav_left{width: 190px;height: 420px;background: #333;}
.centerNav_leftUl .centerList_li .centerList_a{color:#fff;font-size:16px;margin-left: 8px;font-weight: bold;font-family: "simsun";}
.centerNav_leftUl .centerList_li{padding:19px 20px 0;}
.centerList_sClass a{color: #fff;}
.centerListBox{height: 64px;border-bottom:1px dotted #888f97;}
.centerNav_leftUl .centerList_li em{background: url("../img2.0/cdb/nav.png") no-repeat;display: inline-block;vertical-align: middle;height: 26px;width: 25px;}
.centerNav_leftUl .centerList_li:hover,.centerNav_leftUl .centerList_li:hover .centerList_a{color:#fff;background:#fd3416;}
.centerNav_leftUl .centerList_one em{background-position:0px 0px;}
.centerNav_leftUl .centerList_one:hover em,.centerNav_leftUl .centerList_one:hover .secondLevel_classify{display: inline-block;}
.centerNav_leftUl .centerList_two em{background-position: -37px 0px;}
.centerNav_leftUl .centerList_two:hover em,.centerNav_leftUl .centerList_two:hover .secondLevel_classify{display: inline-block;}
.centerNav_leftUl .centerList_three em{background-position: -141px 0px;}
.centerNav_leftUl .centerList_three:hover em,.centerNav_leftUl .centerList_three:hover .secondLevel_classify{display: inline-block;}
.centerNav_leftUl .centerList_four em{background-position: -70px 0px;}
.centerNav_leftUl .centerList_four:hover em,.centerNav_leftUl .centerList_four:hover .secondLevel_classify{display: inline-block;}
.centerNav_leftUl .centerList_five em{background-position: -108px 0px;}
.centerNav_leftUl .centerList_five:hover em,.centerNav_leftUl .centerList_five:hover .secondLevel_classify{display: inline-block;}
.centerNav_left .secondLevel_classify{position: absolute;z-index: 22;top:0;left:190px;width: 710px;height: 419px;background:#fff;overflow: hidden;box-shadow: 0 3px 10px rgba(0,0,0,.3);}
.secondLevel_classify .secondLevel_classifyUl{padding:0 28px;}
.secondLevel_classify .secondLevel_classifyUl .secondLevel_link a:hover {color:#c81623;}
.secondLevel_classify .secondLevel_classifyUl .secondLevel_link a{border-right: 1px solid #d9d9d9;padding: 0 12px;height: 15px;line-height: 15px;display: inline-block;margin: 17px 0;font-size: 14px;color: #666;float: left;}
.secondLevel_classify .secondLevel_classifyUl .secondLevel_link{width: 650px;border-bottom:1px solid #eee;overflow: hidden;}
.secondLevel_classify .secondLevel_classifyUl .secondLevel_link a:last-child{border-right: none;}
.secondLevel_classify .secondLevel_classifyUl .secondLevel_link a:first-child{padding-left: 0;}
.secondLevelTop{margin-top: 10px;}
.header_bottomBox{position: relative;}
.centerNav_leftT{position: absolute;z-index: 99;top: 41px;}
/* 导航 结束*/
/* 底部 开始 */
.main_bottom{margin-top: 100px;}
.base_footericon{padding: 30px 0;}
.base_footericon .base_footericon_top{overflow: hidden; width: 245px; float: left; display: block; margin-right: 55px;}
.base_footericon .base_footericon_top b{display: block; font-family: "Microsoft YaHei"; font-size: 19px; color: #c81623; margin-top: 2px; padding-bottom: 7px;}
.base_footericon .base_footericon_top span{font-size: 14px; color: #666;}
.base_footericon img{width: 55px;height: 55px;float: left;margin-right: 10px;}
.main_bottom{height: 200px;height: auto;background-color: #FAFAFA; overflow: hidden;}
.main_bottom .main_bottom_img{width: 1200px;margin: 50px auto 10px;}
.main_bottom .bottom_zhong_div{border-top:1px solid #E2E2E2;width: 1200px;height: auto;margin: 0 auto;padding-top:45px;}
.bottom_zhong_div .bottom_tel_div{width:25%;text-align: center;float: left;}
.bottom_tel_div .bottom_tel{width: 190px;padding-bottom:10px;margin: 0 auto 10px;border-bottom: 1px solid #e2e2e2;}
.bottom_tel_div .last-child{padding-top:5px;}
.bottom_tel_div p{font-size: 16px;color: #666;font-family: "Microsoft YaHei";}
.bottom_tel_div .wx_img{width: 87px;height: 87px;}
.bottom_zhong_02{border-left: 1px solid #E6E6E6;width: 204px;float: left;padding-left: 20px;}
.bottom_zhong_02 .bottom_02_li{padding-top: 15px;}
.bottom_zhong_02 .bottom_li{margin-top:10px;color: #e2e2e2;}
.bottom_zhong_02 .bottom_02_li span{font-size: 16px; color: #333333;}
.bottom_zhong_02 li img{padding-right: 10px; vertical-align: middle;}
.bottom_zhong_03{border-left: 1px solid #E6E6E6;width: 100px;float: left;padding-left: 20px;}
.bottom_zhong_03 .bottom_03_li{padding-top: 15px;vertical-align: middle;}
.bottom_zhong_03 .bottom_li{margin-top:10px;color: #e2e2e2;}
.bottom_zhong_03 .bottom_03_li span{font-size: 16px; color: #333333;}
.bottom_zhong_03 li img{padding-right: 10px;}
.bottom_bottom_div{width: 1200px;height: 80px;margin: 30px auto 30px;}
.bottom_bottom_div .bottom_section{width: 476px;height: 20px;margin: 0 auto;text-align: center;}
.bottom_section ul li{float: left;border-right: 1px solid #666;padding:0 12px;height: 10px;line-height: 10px;}
.bottom_section a{color: #666;}
.bottom_section a:hover{color: #e31939;}
.bottom_section ul li:last-child{border-right: none;}
.bottom_section_last{text-align: center;}
.bottom_section_last p{color:#b2b2b2; font-family:"Microsoft Yahei";}
/* 底部 结束 */
