.screenList{border-bottom: none;}
.mainBar{width:100%;height:auto;margin-top: 18px;}
.main_con{width:1200px;margin:0 auto;}
.main_con_left{width:208px;height:auto;}

.mall_recommend{width:100%;height:auto;border:1px solid #DDDDDD;}
.mall_recommend a:hover p{color:#ff5010;transition: 0.3s;}
.mall_recommend .mall_recommend_tit{height:31px;padding-left:10px;line-height:31px;font-size:16px;color:#000;background:#FAFAFA;border-bottom: 1px solid #DDDDDD;}
.mall_recommend .mall_recommend_tit a{display: block;}
.mall_recommend dl{width:100%;height:auto;margin-bottom: 10px;}
.mall_recommend dl dt{padding:12px 34px 6px;}
.mall_recommend dl dt img{display: inline-block;width:100%;height:100%;}
.mall_recommend dl dd{padding:0 10px; text-align:center}
.mall_recommend dl dd del{color:#999;}

.main_con_right{width:977px;height:auto;}
.main_con_right .sort{width:968px;border:1px solid #ddd;margin-left:10px;background: #fbfbfb;}
.main_con_right .sort_top{width: 953px; height:36px;line-height: 36px;background: #F1F1F1;padding-left:15px;}
.main_con_right .sort_top span{ float: left;}
.sort_type{padding-left:10px;float: left;padding-top:5px;}
.sort_type li{float:left;width:44px;height:24px;line-height: 24px;padding-left:10px;border:1px solid #ddd;margin-left:10px;background:#fff url(../img2.0/arrow.png) no-repeat;background-position: 38px 6px;}
.sort_type .change{ background:#e4393c url(../img2.0/5.png) no-repeat;background-position: 38px 6px;}
.sort_type .change a{color: #FFFFFF;}
.sort_top_right{float: right;margin-right: 15px;padding-top:6px;}
.sort_top_right li {float:left;width:30px;height:22px;line-height: 20px;border:1px solid #ddd;margin-left:10px;text-align: center;background: #fff;font-family: "宋体";}
.sort_top_right .one{border: 0;text-align: center;line-height: 27px;background: none;}
.sort_top_right li  i{color: #e6393c;font-style: normal;}
.sort_top_right li a{font-size: 16px;}

.show_pic{margin-left: 10px;width: 968px;}
.show_pic dl{position: relative; width:212.5px;height:290px;border:1px solid #eee;float:left;margin:20px 15px 0 0;position: relative;padding:8px 8px 0 8px;}
.show_pic dl .show_picHover{display: inline-block;width:212.5px;}
.show_pic dl:nth-child(4n+4){margin-right: 0;}
.show_pic dl dt img{width: 213px;height: 200px;}
.show_pic dl dd{padding:0 9px;}
.show_pic dl dd del{color:#999;}
.s{width: 224px;height: 355px; text-align: center; display: none;
  position: absolute;left: 0;bottom: -60px;z-index: 20;border: 3px solid #e4393c;}


/* 红色背景 */
.show_pic dl .goods_bz{position: absolute;z-index: 1;top: 8px;width: 62px;height: 25px;left: -6px;background: url("../img2.0/xb.png") no-repeat;background-position: 1px -36px; }
/* 橘色背景 */
.show_pic dl .goods_changebz{background-position: -91px -36px; }

.show_pic dl .goods_bz span{position: absolute;z-index: 2;top: -1px;color: #fff;left: 8px;}

.dis_page {float: right;width: 1200;display: inline;overflow: hidden;margin-top:150px;}
.dis_page ul {float: left;list-style-type: none;width: 100%;margin: 0;padding: 0;display: inline;}
.dis_page_list {float: left;width: auto;margin: 0;padding: 0;/*border-right: 1px solid #e6e6e6;*/}
.paget {float: left;width: 83px;height: 36px;margin: 0 6px;display: inline;background-color: #fff;}
.paget2{float: left;width: 30px;height: 36px;margin: 0 6px;display: inline;background-color: #fff;}
.paget .page_disabled, .paget .page_disabled:hover {color: #ccc;cursor: default;}
.paget1 {float: left;width: auto;padding: 0;/*margin-right: 5px;*/display: inline;color: #333;}
#pageCount_s {padding: 0 5px;}
.pageff {float: left;width: auto;height: 35px;margin: 0;display: inline;border: 1px solid #e6e6e6;border-right: 0;background-color: #fff;}
.pageffs {float: left;width: auto;height: 37px;margin: 0;display: inline;border-left: 1px solid #e6e6e6;border-right: 0;}
.pageffs span {float: left;width: 36px;height: 10px;line-height: 10px;font-size: 13px;color: #333;text-align: center;font-weight: bold;margin: 10px 0 0 0;display: inline;font-family: Arial;}
.dis_page ul li a {float: left;display: block;width: auto;height: 36px;/*padding: 0 12px;*/line-height: 38px;color: #333;cursor: pointer;text-decoration: none;font-size: 13px;}
.dis_page ul li a.prevtm {width: 68px;height: 36px;padding: 0;padding-left:15px;border:1px solid #DDDDDD;}
.dis_page ul li a.prevtm1{width: 30px;margin-right: 5px;text-align: center;}
.dis_page ul li a.prevtm2{width: 35px;border:1px solid #DDDDDD;text-align: center;}

.dis_page ul li a.lastm {margin: 0 0 0;width: 68px;height: 36px;padding: 0;padding-left:15px;border:1px solid #DDDDDD;}
.dis_page ul li.paget1 a {float: left;margin: 0 0 0 5px;display: inline;width: auto;height: 36px;padding: 0 10px;text-align: center;line-height: 36px;background-color: #f3f3f3;color: #666;font-size: 13px;border:1px solid #ddd;}
.dis_page ul li.paget1 a:hover {color: #DA1A27;}
.dis_page_s { float: left;display: block;line-height: 38px;margin: 0;padding: 0;font-size: 13px;}
.pages {float: left;display: block;width: 40px;text-align: center;height:36px;line-height: 36px;border: 1px solid #e6e6e6;padding: 0 3px;font-size: 13px;text-indent: 0;margin: 0px 5px;display: inline;font-family: Arial;}
.dis_page ul li a:hover {color: #DA1A27;}
li.pageff_hover {background-color: #0088CC!important;border: 1px solid #0088CC!important;}
.dis_page ul li .pageff_hover a {color: #DA1A27;}
.page-box {float: left;width: 1117px;margin: 28px 0 73px 39.5px;}
.page-box-gray {float: left;width: 1117px;margin: 28px 0 73px 0;border: 1px solid #e6e6e6;background-color: #fafafa;}
.page-box-content {padding-top: 20px;}

/* 商品分页 开始 */
.center_pageWrap{margin-top: 40px;height: 40px;}
.center_pageBox{overflow: hidden;}
.center_pageBox ul li{float: left;background: #fff;}
.center_pageBox ul li a{font-size: 14px;}
.page_prev{border:1px solid #e2e2e2;width: 75px;height: 30px;line-height: 30px;text-align: center;margin-left: 10px;}
.page_prev span{background: url("../img2.0/TB1Z4WGMpXXXXbyaXXX6sGuHVXX-458-458.png")no-repeat;width: 6px;height: 12px;display: inline-block;vertical-align: middle;}
/* 上一页 两种状态 灰色*/
.pageprev_img .unicon{background-position: -158px -422px;}
.pageprev_unprint{vertical-align: middle;display: table-cell;display: block;color: #999;}
/* 上一页 两种状态 可以点击*/
.pageprev_img .icon{background-position: -126px -422px;}
.pageprev_print{vertical-align: middle;display: table-cell;display: block;color: #333;}

/* 下一页 两种状态 可以点击*/
.pagenext_img .icon{background-position: -174px -422px;}
.pageprev_next {color:#333;}
/* 下一页 两种状态 灰色*/
.pagenext_img .unicon{background-position: -206px -422px;}
.pageprev_unnext {color:#999;}
.page_numer a{height: 30px;line-height: 30px;width: 35px;border:1px solid #e2e2e2;margin-left: -1px;display: block;text-align: center;}
.itme{margin-left: 10px;}
.center_pageBox .dot{width: 35px;height: 30px;text-align: center;line-height: 40px;background: none;}
.pagetext{margin-left: 10px; line-height: 37px; color: #999;}
.m-page .input{border: 1px solid #ededed;height: 21px;text-align: center;width: 35px;}
.input{border: 1px solid #ededed;height: 21px;text-align: center;width: 35px;}
 .input, .pagetext{color: #999;}
.pagebtn{margin-top:8px;}
.pagebtn, .input, .pagetext{margin-left: 5px;}
.pagebtn{background-clip: padding-box;border: 1px solid #ededed;border-radius: 2px;cursor: pointer;height: 21px;line-height: 21px;text-align: center;width: 43px;display: block;background: #fff;}
.center_pageBox .page_numer a:hover{background: #f40 none repeat scroll 0 0; border-color: #f40; color: #fff; cursor: pointer; position: relative; text-decoration: none; z-index: 1;}
.center_pageBox .itme a{background: #f40 none repeat scroll 0 0; border-color: #f40; color: #fff; cursor: pointer; position: relative; text-decoration: none; z-index: 1;}
.center_mergepay button{border:1px solid #e2e2e2;padding:4px 10px;margin-left: 5px;}
.center_mergepay input{margin-top: 2px;}
/* 商品分页 结束 */
/*  内容结束*/
.centerHome_goodsprice{margin-top: 6px;}
.centerHome_goodsprice i{color:#FD282A;font-style: normal;}
.centerHome_goodsprice .centerHomep i{font-size: 14px;color: #FD282A;}
.centerHomep{color: #FD282A;}
.goodsMsHover{position: absolute;z-index: 1;bottom:0;width: 202px;background: #ff6933;height: 0;overflow: hidden;left: 0;padding:0 14px;}
.goodsMsHoverL{margin-top: 8px;}
.goodsMsHoverL span{display: block;color: #fff;}
.goodsMsHoverLT{width:62px;text-align: right;}
.goodsMsHoverR{text-align: left;}
.goodsMsHoverR i{font-size: 14px;font-style: normal;font-weight: bold;}
.centerHome_classifyzhong ul a:hover .goodsMsHover{display: block;}
.goodsMsHoverLT .leftSpan{text-align: left;font-style: normal;margin-left: 23px;}
.goodsMsHoverLT .pifaleft i{font-style: normal;margin-right: 6.5px;}