/* BEGIN iconfont */
.iconfont {
	font-style:normal;
  	-webkit-font-smoothing: antialiased;
  	-webkit-text-stroke-width: 0.2px;
  	-moz-osx-font-smoothing: grayscale;
}
@font-face {font-family: "prev";
  src: url('iconfont/prev.eot'); /* IE9*/
  src: url('iconfont/prev.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/prev.woff') format('woff'), /* chrome, firefox */
  url('iconfont/prev.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/prev.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont-prev {
  font-family:"prev" !important;
  font-size:30px;
}

@font-face {font-family: "next";
  src: url('iconfont/next.eot'); /* IE9*/
  src: url('iconfont/next.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/next.woff') format('woff'), /* chrome, firefox */
  url('iconfont/next.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/next.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont-next {
  font-family:"next" !important;
  font-size:30px;
}
/* END iconfont */

/* BEGIN jqzoom */
.jqzoom-wrap{ width:402px; height:auto; margin:0 auto; overflow:hidden;}
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.jqzoom img{ background:#FFF;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:400px;height:400px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}
/*图片小图预览列表*/
.spec-preview{width:400px;height:400px;border:1px solid #DFDFDF;}
.spec-scroll{clear:both;margin-top:5px;width:400px;}
.spec-scroll .prev{float:left;}
.spec-scroll .next{float:right;}
.spec-scroll .prev,.spec-scroll .next{display:block;font-family:"宋体";text-align:center;width:33px;height:64px; line-height:64px;border:1px solid #CCC;cursor:pointer;text-decoration:none;}
.spec-scroll .items{float:left;position:relative;width:329px;height:66px;margin-left:auto;margin-right:auto;overflow:hidden;}
.spec-scroll .items ul{position:absolute;width:999999px;height:66px;}
.spec-scroll .items ul li{float:left;width:66px;height:66px;margin-left:13px;text-align:center;}
.spec-scroll .items ul li img{border:1px solid #CCC;padding:2px;width:60px;height:60px;}
.spec-scroll .items ul li img:hover{border:2px solid #F40;padding:1px;}
/* END jqzoom */

/* BEGIN section-00 */
.section-00 .content {
	width:573px;
	margin-left:25px;
}
.section-00 .content h2 {
	height: 21px;
	overflow: hidden;
	font-size:18px;
	line-height: 21px;
	font-family:'\5FAE\8F6F\96C5\9ED1';
	color:#333;
}
.section-00 .content h2.supplier {
	background: url(../img/supplier.png) center left no-repeat;
    text-indent: 26px;
}
.section-00 .content .summary {
	height: 36px;
	overflow: hidden;
	margin-top:15px;
	line-height:1.5;
}
.section-00 .content .countDown {
	padding-top: 15px;
	margin-top: 10px;
	border-top:1px dotted #DDD;
}
.section-00 .content .countDown p {
	height:36px;
	line-height:36px;
	font-size:14px;
	text-indent:50px;
	background-color:#ffbf15;
	color:#FFF;
}
.section-00 .content label {
	width:40px;
	margin-right:15px;
	text-align:right;
}

.freight label {
	height:18px;
	line-height:18px;
}
.color li {
	float: left;
	margin-right: 15px;
	width: 40px;
	height: 50px;
	padding: 1px;
	border: 1px solid #CCC;
}
.color label {
	height:54px;
	line-height: 54px;
}
.size li {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	width: auto;
	height: 30px;
	line-height: 30px;
	border: 1px solid #CCC;
}
.size label {
	height: 32px;
	line-height: 32px;
}
.num span:hover {
	cursor: pointer;
	background-color: #f3f3f3;
}
.num label,
.num .tip {
	height: 24px;
	line-height: 24px;
}
.num .num-wrap {
	border:1px solid #CCC;
}
.num .left {
    border-right:1px solid #CCC;
}
.num .right {
    border-left:1px solid #CCC;
}
.num .remove {
	display:block;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-size:20px;
	background-color:#FFF;
	color:#CCC;
	background-color:#F3F3F3;
}
.num .text {
	width:40px;
	height:20px;
	padding-left:4px;
	padding-right:4px;
	text-align:center;
	line-height:20px;
	border:0;
}
.num .add {
	display:block;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-size:20px;
}
.num .tip {
	margin-left: 10px;
}		
/* END section-00 */

/* BEGIN tab */
.tab-header ul {
	background-color: #F9F9F9;
	border-bottom: 1px solid #EAEAEA;
}
.tab-header li {
	float: left;
	width: 150px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #E5E5E5;
	cursor: pointer;
}
.tab-content-wrap {
	padding: 20px;
}
.tab-content {
	display: none;
}
/* 	END tab */

/* BEGIN section-01 */
.section-01 {
	margin-top:20px;
	border:1px solid #E5E5E5;
}
.section-01 .tab-header {
	position:relative;
	height:39px;
	line-height:39px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #E5E5E5;
}
.section-01 .tab-header ul {
	position:absolute;
	height:39px;
	line-height:39px;
	top:0;
	left:0;
}
.section-01 .tab-header li {
	position:relative;
	top:-2px;
	color:#f1b209;
	background-color:#FFF;
	border-top:3px solid #f1b209;
}
.section-01 .tab-content-wrap {
	padding-left: 1px;
	padding-right: 1px;
}
.section-01 .tab-content li {
	float: left;
	width: 198px;
	overflow: hidden;
	padding-left: 25px;
	padding-right: 26px;
}
.section-01 .tab-content li p {
	margin-top: 18px;
	text-align: center;
}
/* END section-01 */

/* BEGIN section-02 */
.section-02 {
	margin-top:20px;
}
.section-02 .aside-goods {
	float: left;
}
.section-02 .content {
	width:992px;
	border:1px solid #EAEAEA;
}
.section-02 .content .tab-header {
	position:relative;
	height:39px;
	line-height:39px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #E5E5E5;
}
.section-02 .content .tab-header ul {
	position:absolute;
	height:39px;
	line-height:39px;
	top:0;
	left:0;
}
.section-02 .content .tab-header li.active {
	position:relative;
	top:-2px;
	color:#7F411C;
	background-color:#FFF;
	border-top:3px solid #7F411C;
}
/* END section-02 */
.btn {
	display:block;
	height:38px;
	padding-left:20px;
	padding-right:20px;
	font-size: 18px;
	line-height: 38px;
	font-family:'\5FAE\8F6F\96C5\9ED1';
	border-radius:2px;
}
.btn-addCart {
	padding-left:60px;
	color:#FFF;
	border:1px solid #7f411c;
    background: #7f411c url(img/qihuo_cart.png) 15px center no-repeat;
    background-size: auto 42px;
}
.btn-addCart:hover {
	color:#FFF;
}
.btn-buynow {
	color:#7f411c;
	background-color:#ffc718;
	border:1px solid #d59e03;
}
.btn-buynow:hover {
	color:#7f411c;
}
.mt30 {
	margin-top: 30px;
}
.mt18 {
	margin-top: 18px;
}
.mr-20 {
	margin-right: 20px;
}