table.list {
    border: 1px solid #ededed;
    border-collapse: collapse;
}
table.list thead tr {
    background: #f0eff0 url("img/tableth.png") repeat-x scroll 0 0;
}
table.list th {
    border-bottom: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    font-weight: bolder;
    line-height: 21px;
    padding: 1px 2px;
}
table.list td {
    border-right: 1px solid #ededed;
    line-height: 21px;
    padding: 1px 2px;
}
table.list tbody {
    background-color: #fff;
}
table.list .right {
    text-align: right;
}
table.list .trbg {
    background-color: #f8f8f8;
}
table.list .hot {
    background-color: #fff5c0;
}
table.list .hover {
    background-color: #e4f5ff;
}
table.list .selected {
    background-color: #7cc5e5;
    border-color: #b8d0d6;
}
table.list a {
    color: #3c7fb1;
    font-size: 11px;
    line-height: 20px;
}
table.list a:hover {
    line-height: 20px;
    text-decoration: underline;
}
table.list td span.error {
    z-index: -1;
}
table.nowrap tbody tr {
    border-bottom: 1px solid #ededed;
}