@charset "utf-8";
body{margin:0;padding:0;font-size:12px;line-height:22px;font-family:Microsoft YaHei,YaHei,tahoma,arial,"Hiragino Sans GB";}
@media screen and (min-width:1601px) and (max-width:2500px){
body{font-family:"Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";}
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p{margin:0;padding:0;}
input,select,textarea{font-size:12px;line-height:16px;}img{border:0;}ul,li{list-style-type:none;}
a{color:#353535;text-decoration:none;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.dis{display:block;}.undis{display:none;}
.fl{float:left;}.fr{float:right;}.cl{clear:both;}.fb{font-weight:bold;}.fnb{font-weight:200;margin-left:-1px;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:none;}
.w100{ width:100%; height:auto; overflow:hidden;}
.w1000{ width:1200px; height:auto; overflow:hidden; margin:0 auto;}
.mt{margin-top:10px;}
input {outline:none;border: 0;background: #fff;}
.clearFix:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}
/* 头部*/
.header_wrap .header_top{border-bottom: 1px solid #e2e2e2;background-color: #fafafa;}
.header_top_left{height: 32px;line-height: 33px;}
.header_top_left ul li{float: left;margin-right: 30px;color: #777;font-size: 12px;}
.header_top_left a:hover{color:#fa0;}
.top_left_a_one{color: #fa0;}
.top_left_a_two{color: #777;}
.header_top_right{height: 32px;line-height: 33px;}
.header_top_right ul li{padding-left: 30px;float: left;}
.header_top_right ul li a{color: #777;}
.home_img{background:url("../img/home_img.png")no-repeat scroll 12px 9px;}
.header_top_right ul li a:hover{color: #fa0;}
.header_wrap .header_bottom{margin-top:30px;}
.header_bottom .header_bottom_logo_left{width: 210px;height: 72px;float: left;}
.header_bottom_logo_left img{width: 190px;height: 72px;}
.header_bottom .header_bottom_logo_right{width: 220px;height: 57px; float: left; margin-top: 9px;border-left: 2px solid #e2e2e2;padding-left: 20px;}
.header_bottom_logo_right img{width: 220px;height: 50px;margin-top: 4px;}
.header_bottom .header_bottom_search{border: 2px solid #8fb13d;height: 36px;width: 490px;float: left;margin-left: 152px;margin-top: 16px;background: url("../img/search_img.png") 20px 11px no-repeat;}
.header_bottom_search_img{width: 25px;height: 25px;margin:7px 0;float: left;margin-left: 18px;}
.header_bottom_search input{width:358px;border: none;margin-left: 8px;font-size: 14px;font-weight: bold;float: left;height: 31px;border: 0;margin-top: 5px;}
.search_button{width: 80px; height: 38px; line-height: 38px; text-align: center; display: block;float: right;background-color: #8fb13d;color: #fff;font-size: 15px;margin-top: -1px;margin-left: 1px;}
.search_button_two{margin-top:16px;height: 40px;margin-right: 7px;line-height: 40px;background: #ff7300;}
.search_li{margin-left: 605px;padding-bottom: 10px;}
.search_li ul li{float: left;margin-right: 25px;}
.search_li ul li a{color: #999;}
.search_li .search_li_01{color: #fa0;}
/* 头部 结束*/
/* 中间 开始 */
.center_wrap{border-top:2px solid #8fb13d;}
.center_full_picture{height: 183px;}
.center_full_picture img{width: 100%;}
.center_wrap_1200{height: auto;}
.center_goods_title{padding: 10px 0;height: 10px;margin-top: 1px;}
.center_goods_title h2{padding-left: 10px;font-family: "Microsoft YaHei";border-left: 2px solid #8fb13d;font-size: 15px;float: left;height: 16px;line-height: 16px;margin-top: 4px;color: #333;}
.center_goods_title a{border-left:2px solid #8fb13d;font-size: 15px;display: block;width: 70px;height: 16px;line-height: 16px;padding-left: 10px;font-weight: bold;color: #333;}
.center_goods_wrap{margin:8px 0 20px 0;}
.center_goods_wrap .center_goods_left_img{width: 200px;height:425px;float: left;}
.center_goods_wrap .center_goods_middel{width: 796px;height: 423px;float: left;border:1px solid #e5e5e5;border-right: none;}
.center_goods_middel .center_goods_box{width: 198px;height: 211px;float: left;border-bottom: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;}
.center_goods_middel .center_goods_box_bottom{border-bottom: none;}
.center_goods_wrap .center_goods_right_img{float: right;}
.center_goods_box .center_goods_hover{display: block;height: 209px;}
.center_goods_hover .center_goods_hover_img{height: 125px;padding: 25px 30px 0 30px;}
.center_goods_describe span{display: block;padding: 0 30px;color: #333;}
.center_goods_describe .center_goods_pric{font-weight: bold;color: #f6aa00;font-size: 16px;}
.center_goods_hover:hover .center_goods_introduce{color: #fa0;transition: 0.3s;}
.center_goods_describe .center_goods_introduce{margin-bottom: 8px;}
.center_goods_hot{padding-bottom: 20px;margin-top: 10px;}
.center_goods_hot .center_goods_hot_wrap{height: 282px;margin-top: 10px;margin-right: 0.5px;}
.center_goods_hot_wrap .center_goods_hot_box{border:1px solid #e5e5e5;height: 280px;width: 198.7px;float: left;border-right: none;}
.center_goods_hot_wrap .center_goods_hot_box_last{border-right: 1px solid #e2e2e2;}
.center_goods_hot_box .center_goods_hot_hover{display: block;}
.center_goods_hot_box span{color: #333;}
.center_goods_hot_hover .center_goods_hot_img{padding: 10px 0;text-align: center;}
.center_goods_hot_img img{max-width: 280px;max-height:160px;}
.center_goods_hot_hover .goods_hot_describe{margin-top: 10px;padding: 0 20px;}
.center_goods_hot_hover .goods_hot_describe span{display: block;}
.goods_hot_describe .goods_hot_pric{color: #f6aa00;font-weight: bold;font-size: 17px;}
.goods_hot_describe .goods_hot_introduce{height: 40px;overflow: hidden;margin-bottom: 10px;color: #333;}
.center_goods_hot_hover:hover .goods_hot_introduce{color: #fa0;transition: 0.3s;}
.center_goods_title2{float: left;}
.center_goods_title2 h2{border-left:2px solid #f08c18;}
.center_goods_title3 h2{border-left:2px solid #aca6f1;}
.center_goods_title4 h2{border-left:2px solid #83937e;}
.center_goods_title5 h2{border-left:2px solid #ea3939;}
.center_goods_classify{height: 25px;float: right;margin-left:780px;margin-top: 5px;}
.center_goods_classify ul li{float: left;margin-top: 10px;height: 13px;line-height: 13px;padding: 0 15px;border-left: 1px solid #333;}
.center_goods_classify ul li:last-child{padding-right: 2px;}
.center_goods_classify li a{display: block;}
.center_goods_graden{width: 1199px;margin-top: 10px;border-right:1px solid #e5e5e5;}
.center_goods_graden .center_goods_graden_img{width: 199px;height: 232px;float: left;}
.center_goods_graden .center_goods_graden_box{float: left;width: 200px;height: 230px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.center_goods_graden_box .center_graden_hover{display: block;}
.center_goods_graden_box span{color: #666;}
.center_graden_hover .center_graden_img{height: 120px;padding: 10px 10px;text-align: center;}
.center_graden_referral_pric{border-left:1px solid #e5e5e5;padding:0 10px;}
.center_graden_hover .center_graden_referral_pric .center_graden_referral{display: block;margin-bottom: 8px;display: block;height: 40px;}
.center_graden_hover .center_graden_pric{padding-top:10px;padding-right:15px;font-size: 16px;color: #f6aa00;font-weight: bold;}
.center_graden_hover:hover .center_graden_referral{color: #fa0;transition: 0.3s;}
.center_graden_referral_pric .center_graden_merchant{color: #8fb13d;}
.center_goods_title .center_goods_more{border-left:none;font-weight: normal;font-size: 13px;width: 40px;}

/* 中间 结束 */
/* 底部 开始 */
.base_footericon{padding: 30px 0;}
.base_footericon .base_footericon_top{overflow: hidden; width: 245px; float: left; display: block; margin-right: 55px;}
.base_footericon .base_footericon_top b{color: #333; display: block; font-family: "Microsoft YaHei"; font-size: 19px; color: #555; margin-top: 2px; padding-bottom: 7px;}
.base_footericon .base_footericon_top span{font-size: 14px; color: #666;}
.base_footericon img{width: 65px;height: 54px;float: left;margin-right: 15px;}
.main_bottom{height: 200px;height: auto;background-color: #FAFAFA; overflow: hidden;}
.main_bottom .main_bottom_img{width: 1200px;margin: 50px auto 10px;}
.main_bottom .bottom_zhong_div{border-top:1px solid #E2E2E2;width: 1200px;height: auto;margin: 0 auto;padding-top:45px;}
.bottom_zhong_div .bottom_tel_div{width:297px;text-align: center;float: left;}
.bottom_tel_div .bottom_tel{width: 190px;padding-bottom:10px;margin: 0 auto 10px;border-bottom: 1px solid #e2e2e2;}
.bottom_tel_div .last-child{padding-top:5px;}
.bottom_tel_div p{font-size: 16px;color: #666;font-family: "Microsoft YaHei";}
.bottom_tel_div .wx_img{width: 87px;height: 87px;}
.bottom_zhong_02{border-left: 1px solid #E6E6E6;width: 200px;float: left;padding-left: 20px;}
.bottom_zhong_02 .bottom_02_li{padding-top: 15px;}
.bottom_zhong_02 .bottom_li{margin-top:10px;color: #e2e2e2;}
.bottom_zhong_02 .bottom_02_li span{font-size: 16px; color: #333333;}
.bottom_zhong_02 li img{padding-right: 10px; vertical-align: middle;}
.bottom_zhong_03{border-left: 1px solid #E6E6E6;width: 100px;float: left;padding-left: 20px;}
.bottom_zhong_03 .bottom_03_li{padding-top: 15px;vertical-align: middle;}
.bottom_zhong_03 .bottom_li{margin-top:10px;color: #e2e2e2;}
.bottom_zhong_03 .bottom_03_li span{font-size: 16px; color: #333333;}
.bottom_zhong_03 li img{padding-right: 10px;}
.bottom_bottom_div{width: 1200px;height: 80px;margin: 30px auto 30px;}
.bottom_bottom_div .bottom_section{width: 476px;height: 20px;margin: 0 auto;text-align: center;}
.bottom_section ul li{float: left;border-right: 1px solid #666;padding:0 12px;height: 14.5px;line-height: 15px;}
.bottom_section a{color: #666;}
.bottom_section a:hover{color: #65a031;}
.bottom_section ul li:last-child{border-right: none;}
.bottom_section_last{text-align: center;}
.bottom_section_last p{color:#b2b2b2; font-family:"Microsoft Yahei";}
/* 底部 结束*/