/* 中间 右边 开始*/
.center_wrapRight{width: 995px;}
.center_wrapRight h2{font-weight: normal;width:90px;border-bottom:2px solid #e31939;text-align: center;font-size: 16px;padding:8px;}

/* 交易提醒 */
.myTransactionWarn{padding:8px 20px;border: 1px solid #f9dfb2;font-size: 14px;color: #666;margin-top: 10px;background: #ffffdd;}
.myTransactionWarn ul li{float: left;padding: 0 15px;font-family: "宋体";font-size: 13px;}
.myTransactionWarn ul li a{color:#666;}
.myTransactionWarn .pitch a{color:#e31939;}
.status li span{color:#e31939;}
/* 状态 开始 */

/*  未付款 开始 */
.status_goodsWrap .tableTrHeader{margin-top: 20px;border-top: 1px solid #e2e2e2;border-right: 1px solid #e2e2e2;border-left: 1px solid #e2e2e2;}
.tableTrHeader th:first-child{width: 408px;}
.tableTrHeader th:nth-child(2){width: 105px;}
.tableTrHeader th:nth-child(3){width: 102px;}
.tableTrHeader th:nth-child(4){width: 66px;}
.tableTrHeader th:nth-child(5){width: 135px;}
.tableTrTop th{background: #eee;padding:5px 0;}

.center_noPay,.center_noPay td{border:1px solid #e2e2e2;padding:8px;margin-bottom: 15px;}
.obligation_orderBh input{vertical-align: middle;margin-top: -2px;margin-left: 10px;}
.obligationColor{color: #e31939;}
.obligation_orderBh span{margin-right: 15px;}
.goods_nature{text-align: left;}

.tableTrThree td{border:1px solid #e2e2e2;text-align: center;padding:12px 8px;}
.shipments_heart{width: 395px;}
.obligationWrap_price{width:90px;}
.obligationWrap_number{width: 58px;}
.obligationWrap_hj{width: 104px;}
.shipmentsGoods_nature{width: 90px;}
.orderGoods_print img{width: 50px;height: 50px;}
.shipmentsGoods_ms{width: 258px;margin-left: 15px;height: 50px;overflow: hidden;text-align: left;}
.tableTrThree .obligationWrap_nature {text-align: left;}
.obligationWrap_price span,.shipmentsGoods_state a{color: #e31939;}
.shipmentsGoods_nature a{color:#e31a22;display: inline-block;width: 67px;height: 27px;border:1px solid #e31a22;border-radius: 5px;line-height: 27px;}
.shipmentsGoods_state a{color: #e31939;}
.center_noPayTow{background: #f5f5f5;}

.obligation_bottom{padding: 10px;}
.obligation_bottomRight{text-align: right;font-size: 13px;}
.obligation_bottomRight i{font-style: normal;color: #e31939;}
.obligation_bottomRight span{margin-left: 30px;padding-right: 40px;}
.obligation_bottomRight span i{color: #e31939;font-size:22px;}
.obligation_bottomRight a{background: #ccc;color: #fff;padding: 4px 10px; }
.obligation_bottomRight .oncePay{background:#e31939;margin-left: 10px; }

/* 交易关闭状态  */
.goods_unstate{line-height: 55px;display: none;}
/*  未付款 结束 */

/* 商品分页 开始 */
.center_pageWrap{margin: 30px 0 0px;}
.center_pageBox{overflow: hidden;}
.center_pageBox ul li{float: left;background: #fff;}
.center_pageBox ul li a{font-size: 14px;}
.page_prev{border:1px solid #e2e2e2;width: 75px;height: 30px;line-height: 30px;text-align: center;margin-left: 10px;}
.page_prev span{background: url("../../img2.0/cph/TB1Z4WGMpXXXXbyaXXX6sGuHVXX-458-458.png")no-repeat;width: 6px;height: 12px;display: inline-block;vertical-align: middle;}
/* 上一页 两种状态 灰色*/
.pageprev_img .unicon{background-position: -158px -422px;}
.pageprev_unprint{vertical-align: middle;display: table-cell;display: block;color: #999;}
/* 上一页 两种状态 可以点击*/
.pageprev_img .icon{background-position: -126px -422px;}
.pageprev_print{vertical-align: middle;display: table-cell;display: block;color: #333;}

/* 下一页 两种状态 可以点击*/
.pagenext_img .icon{background-position: -174px -422px;}
.pageprev_next {color:#333;}
/* 下一页 两种状态 灰色*/
.pagenext_img .unicon{background-position: -206px -422px;}
.pageprev_unnext {color:#999;}
.page_numer a{height: 30px;line-height: 30px;width: 35px;border:1px solid #e2e2e2;margin-left: -1px;display: block;text-align: center;}
.itme{margin-left: 10px;}
.center_pageBox .dot{width: 35px;height: 30px;text-align: center;line-height: 40px;background: none;}
.pagetext{margin-left: 10px; line-height: 37px; color: #999;}
.m-page .input{border: 1px solid #ededed;height: 21px;text-align: center;width: 35px;}
.input{border: 1px solid #ededed;height: 21px;text-align: center;width: 35px;}
.pagebtn, .input{margin-top: 7px;} .input, .pagetext{color: #999;}
.pagebtn, .input, .pagetext{margin-left: 5px;}
.pagebtn{background-clip: padding-box;border: 1px solid #ededed;border-radius: 2px;cursor: pointer;height: 21px;line-height: 21px;text-align: center;width: 43px;display: block;background: #fff;}
.center_pageBox .page_numer a:hover{background: #e31939 none repeat scroll 0 0; border-color: #e31939; color: #fff; cursor: pointer; position: relative; text-decoration: none; z-index: 1;}
.center_pageBox .itme a{background: #e31939 none repeat scroll 0 0; border-color: #e31939; color: #fff; cursor: pointer; position: relative; text-decoration: none; z-index: 1;}
.center_mergepay button{border:1px solid #e2e2e2;padding:4px 10px;margin-left: 5px;}
.center_mergepay input{margin-top: 2px;}
/* 商品分页 结束 */
.mergePay{margin-left: 20px;}
.mergePay input{margin-top: -2px;vertical-align: middle;}
.mergePay button{padding: 7px 14px;border:1px solid #e2e2e2;margin-left: 10px;border-radius: 3px;font-size: 14px;}

.guanbi {cursor: pointer;position: absolute;z-index: 999;top:-12px;right: -10px;}
.guanbi img {width: 32px;height: 32px;}
.black_overlay {display: none;position: absolute;top: 0%;left: 0%;width: 100%;height: 100%;background-color: #000;z-index: 1001;-moz-opacity: 0.3;opacity: 0.3;filter: alpha(opacity = 30);}
.white_content {display: none;position: absolute;top: 26%;left: 38%;width: 390px;height: 235px;background-color: white;z-index: 1002;}
.shouye-input input:FOCUS{box-shadow:0 0 5px 2px #D5E9F9;outline:0; border-color:#D5E9F9; background:#fff;}
.shouye-input textarea:FOCUS{box-shadow:0 0 5px 2px #D5E9F9;outline:0; border-color:#D5E9F9; background:#fff;}

.centerTsWrap{margin-top: 35px;height: 75px;background: url("../../img2.0/cph/ts.png") 117px 0px no-repeat;line-height: 150px;}
.centerButtonWrap{text-align: center;margin-top: 22px;}
.tswz{text-align: center;font-size: 14px;font-family: "simsun";}
/* 中间 结束*/
