.center_wrapRight{width: 995px;}
.center_wrapRight h2{padding:8px;font-weight: normal;width:102px;border-bottom:2px solid #e31939;text-align: center;font-size: 16px;}
/**修改密码1**/
.update-password{width:990px;border:1px solid #ddd;margin-top:18px;}
.update-password .update-step{width: 720px;margin: 0 auto;padding: 44px;border-bottom: 1px solid #ddd;position: relative;}
.update-step .auth,.set-pay,.ok{position: absolute;padding:0 90px;}
.update-step .auth{left: 50px;color: #caecb6;}
.update-step .set-pay{left: 277px;color: #caecb6;}
.update-step .ok{left: 542px;color:#7abd54;}
.update-password .update-input{width: 462px;margin: 0 auto;padding:60px 10px;}
.update-input p{color: #747474;}
.update-input input{border: 1px solid #ddd;padding-left: 10px;margin-left: 15px;height: 36px;}
.input-password input{width: 116px;}
.update-input a{width: 126px;height: 36px;background: #CF0002;color: #fff;display: block;margin-left: 112px;margin-top: 36px;text-align: center;line-height: 36px;}
/**修改密码2**/
.set-password input{width: 237px;}
.update-input .set-success{text-align: center;}
.set-success i{padding: 20px;background: url(../img/success_03.png) no-repeat scroll left center;}
.set-rember{text-align: center;}
.update-input .mar-a{margin: 36px auto;}
.update-stepPrint{width: 720px;height: 37px;background: url("../../img2.0/cph/status3.png") no-repeat;}
.update-inputPrint{width: 25px;height: 25px;background: url("../../img2.0/cph/gou2.png") no-repeat;margin-right: 10px;}
.returnSz{margin-top: 10px;}.update-inputT{padding-left: 152px;}