/* BEGIN my */
.nav li.my a {
	color: #F00;
	background-image: url(img/my_active.png);
}
/* END my */

/* BEGIN list-block */
.list-block {
	margin-top: 17px;
}
/* END list-block */

/* BEGIN order */
.order {
	background-color: #FFF;
}
.order p {
	position: relative;
	height: 36px;
	padding-top: 29px;
	padding-left: 90px;
	line-height: 36px;
	color: #333;
	background:url(img/my/all_order.png) no-repeat 37px 29px;
	border-top: 1px solid #E5E5E5;
}
.order p a {
	display: block;
	position: absolute;
	top: 29px;
	right: 25px;
	color: #999;
	padding-right: 30px;
	background: url(img/my/right_arrow.png) no-repeat right 7px;
}
.order ul {
	margin-top: 17px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
.order li {
	float: left;
	width: 127px;
	height: 103px;
	text-align: center;
	border-left: 1px solid #E5E5E5;
}
.order li.first {
	border-left-color: #FFF;
}
.order li a {
	display: block;
	padding-top: 65px;
	color: #333;
	background-repeat: no-repeat;
	background-position: center 16px;
}
/* END order */