<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="site" type="Cnaws.Web.Configuration.SiteSection,Cnaws.Web" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
      <section name="captcha" type="Cnaws.Web.Configuration.CaptchaSection,Cnaws.Web" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
      <section name="smscaptcha" type="Cnaws.Web.Configuration.SMSCaptchaSection,Cnaws.Web" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
      <section name="filesystem" type="Cnaws.Web.Configuration.FileSystemSection,Cnaws.Web" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <section name="passport" type="Cnaws.Web.Configuration.PassportSection,Cnaws.Web" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
      <section name="friendlink" type="Cnaws.Web.Configuration.FriendLinkSection,Cnaws.Web" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <clear/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer2" connectionString="host=127.0.0.1;port=5432;database=cnaws;user id=postgres;password=winner;Pooling=true;MaxPoolSize=200;MinPoolSize=4" providerName="Npgsql"/>
    <add name="LocalSqlServer" connectionString="server=git.xcpnet.net;database=XcpNet;uid=xcpnet;pwd=qwe!@#QWE;Pooling=true;Max Pool Size=200;Min Pool Size=4" providerName="System.Data.SqlClient"/>
    <add name="CacheSqlServer" connectionString="server=git.xcpnet.net;database=XcpNet;uid=xcpnet;pwd=qwe!@#QWE;Pooling=true;Max Pool Size=200;Min Pool Size=4" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <filesystem enable="false" path="" url="http://localhost:1876" mark="None"
      text="" region="BottomRight" width="0" height="0" />
    <smscaptcha chars="0123456789" defaultCount="6" timeSpan="60" expiration="300" />
    <friendlink enable="false" approved="false" mode="Text" />
    <passport cookieName="CNAWS.AUTH" cookieDomain="localhost" cookieIV="zwcr8cai"
      cookieKey="wtl0tnw3rri9s7gqdpfi0sqm" maxInvalidPasswordAttempts="5"
      passwordAnswerAttemptLockoutDuration="30" level="Low" verifyMail="false"
      verifyMobile="true" loginWithCaptcha="true" registerWithCaptcha="true"
      defaultApproved="true" dataApproved="LocalSqlServer" />
    <authentication mode="None"/>
    <captcha chars="2345678ABCDEFGHJKLMNPQRSTUVWXYZabcdefhijkmnpqrstuvwxyz" cookiePrefix="CNAWS.CAPTCHA." defaultWidth="20" defaultHeight="40" defaultCount="4" expiration="30" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/errors.html">
      <error statusCode="404" redirect="~/errors/code/404.html"/>
      <error statusCode="500" redirect="~/errors/code/500.html"/>
    </customErrors>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" fileEncoding="utf-8"/>
    <httpCookies httpOnlyCookies="true"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" targetFramework="4.5.2"/>
    <identity impersonate="false"/>
    <site theme="default" urlMode="Rewrite" management="management"
      wapDomain="localhost" dataProvider="LocalSqlServer" cacheMode="Sql" cacheProvider="CacheSqlServer"
      resources="http://localhost:1876" passport="http://localhost:1879"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="OutputCache"/>
      <remove name="Session"/>
      <remove name="WindowsAuthentication"/>
      <remove name="FormsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="RoleManager"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
      <remove name="AnonymousIdentification"/>
      <remove name="Profile"/>
      <add name="PassportModule" type="Cnaws.Web.PassportModule,Cnaws.Web" />
      <add name="HttpModule" type="Cnaws.Web.HttpModule,Cnaws.Web"/>
    </modules>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="smtp.126.com" password="" port="25" userName="" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>